  <div class="footer">
    <div class="container grid">
      <div class="social-links col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4">
        <a href="https://www.facebook.com/profile.php?id=100088554948496" class="fab fa-facebook-f footer-facebook" target="_blank"></a>
        <a href="https://www.tiktok.com/@merakicol" class="tik footer-tiktok" target="_blank"><img src="/assets/images/tiktok-icon.svg"/></a>
        <a href="https://www.instagram.com/merakifit_col/?igshid=YmMyMTA2M2Y%3D" class="fab fa-instagram footer-instagram" target="_blank"></a>                                                  
      </div>
 
      <div class="copyr col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4">
        <a class="">Andres ©</a>    
      </div>
    </div>
  </div>

  <script src="/assets/scripts/nav.js"></script>
  </body>
</html>