<div class="header">

  <div class="container grid">

    <a href="/" class="header-logo">
      <img src="/assets/images/meraki-logo-white-green.png" class="header-logo-normal" alt="Meraki">
      <img src="/assets/images/meraki-logo-black-green.png" class="header-logo-inverso" alt="Meraki">
    </a>

     <button class="hamburger hamburger--collapse header-nav-icon" type="button">
      <span class="hamburger-box">
      <span class="hamburger-inner"></span>
      </span>
    </button>

    <div class="nav">
      <div class="nav-item nav-item-dropdown">
        <button class="nav-link" type="button" aria-expanded="false">
          Servicios
          <span class="nav-caret">▼</span>
        </button>
        <div class="submenu">
          <a href="/Asesorias/"{% if page.url == '/Asesorias/' %} class="active"{% endif %}>
            <i class="fa-solid fa-user-doctor"></i>
            Asesorías
          </a>
          <a href="/antropometria/"{% if page.url == '/antropometria/' %} class="active"{% endif %}>
            <i class="fa-solid fa-ruler-combined"></i>
            Antropometría
          </a>
          <a href="/alimentacion/"{% if page.url == '/alimentacion/' %} class="active"{% endif %}>
            <i class="fa-solid fa-utensils"></i>
            Alimentación
          </a>
          <a href="/grupales/"{% if page.url == '/grupales/' %} class="active"{% endif %}>
            <i class="fa-solid fa-users"></i>
            Grupales
          </a>
          <a href="/test/"{% if page.url == '/test/' %} class="active"{% endif %}>
            <i class="fa-solid fa-clipboard-check"></i>
            Test
          </a>
        </div>
      </div>

      <a href="/entrenemos/" class="text-headline{% if page.url == '/entrenemos/' %} active{% endif %}">Entrenemos</a>
      <a href="/personalizado/" class="text-headline{% if page.url == '/personalizado/' %} active{% endif %}">Personalizado</a>
      <a href="/contacto/" class="text-headline{% if page.url == '/contacto/' %} active{% endif %}">Contacto</a>
    </div>

  </div>

</div>