.footer {
  padding-top: var(--spacer-m);
  padding-bottom: var(--spacer-m);
  font-size: var(--text-note);
  text-align: center;
  background: #414141;
  color: #fff;
}

.footer-tiktok img{
  height: 18px;
}


.footer a {
  text-decoration: none;
  color: inherit;
  margin-left: 20px;
}

.social-links a{
  text-decoration: none;
    list-style: none;
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 45px; /*centra*/
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    font-size: 18px;
}

.footer-facebook:hover{
  background: #1877f2;
  color: #fff;
}

.footer-tiktok:hover{
  background: linear-gradient(to bottom right, #00F0E8, #FD0251);
  color: #fff;
}

.footer-instagram:hover{
  /*background: #e4405f;*/
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
  color: #fff;
}


.copyr{
font-family: var(--font-2);
text-align: center;
font-size: var(--text-base);
font-weight: bold;
}

 /*copy*/
 .svg-wrapper-footer{    
  position: relative;
  top: 8%;
  transform: translateY(8%);
  margin: 0 auto;
  /*width: 320px;*/
}

.shape-footer{
  stroke-dasharray: 140 540;
  stroke-dashoffset: -325;
  stroke-width: 5px;
  fill: transparent;
  /*stroke: #19f6e8;*/
  stroke: #000;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text-footer{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 5px;
  color: #fff;
  top: -48px;
  position: relative;
  text-align: center;
}

.svg-wrapper-footer:hover .shape-footer{
  stroke-width: 5px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}