---
layout: layouts/full-normal-black.njk
title: Alimentación
eleventyNavigation:
  key: alimentacion
  title: Alimentación
  order: 3
---

<div class="container-feeding">
  <div class="container grid">

    <h1 class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4">SERVICIO GUÍA <span class="h1-green">DE</span> ALIMENTACIÓN</h1>

    <div class="feeding-re">
      <img src="/assets/images/imagen-5.png" alt="">
      <h2>RELACIÓN INGESTA VS GASTO</h2>
      <p>$ 90.000</p>
    </div>

    <div class="feeding-cal">
      <img src="/assets/images/imagen-6.jpg" alt="">
      <h2>CALORIMETRÍA TOTAL</h2>
      <p>$ 95.000</p>
    </div>

    <div class="feeding-dis">
      <img src="/assets/images/imagen-7.jpg" alt="">
      <h2>CALORIMETRÍA DISCRIMINADA</h2>
      <p>$ 95.000</p>
    </div>

    <div class="space-ase col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>

  </div>
</div>

<div class="container grid">
  <div class="space-ase col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>

  <div class="feeding-pa-1">
    <p>PAQUETE <br><br><span class="span-gray">COMPLETO</span> <br><br><span class="h1-orange">$ 265.000</span></p>
  </div>

  <div class="feeding-pa-2">
    <p>PAQUETE<br><br><span class="span-gray">X2 SERVICIOS</span> <br><br><span class="h1-orange">$ 175.000</span></p>
  </div>

  <div class="space-ase col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
</div>