---
layout: layouts/full-normal-black.njk
title: Antropometría
eleventyNavigation:
  key: antropometria
  title: Antropometría
  order: 2
---

<div class="antropometria">
   <div class="container grid">  

    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 antopo-title">
      <h1>SERVICIO <span class="h1-green">DE</span> ANTROPOMETRÍA</h1>
    </div>

    <div class="antopo-volu ">
      <!--<img src="/assets/images/tiktok-icon.svg"/>-->
      <img src="/assets/images/imagen-1.jpg" alt=""> 
      <h2>VOLUMETRÍA</h2>
      <p>$ 15.000</p>
    </div>


    <div class="antopo-adipo ">
      <img src="/assets/images/imagen-2.jpg" alt=""> 
      <h2>ADIPOMETRÍA</h2>
      <p>$ 20.000</p>
    </div>

    <div class="antopo-postu ">
      <img src="/assets/images/imagen-3.jpg" alt=""> 
      <h2>POSTUROMETRÍA</h2>
      <p>$ 15.000</p>
    </div>

    <div class="antopo-soma">
      <img src="/assets/images/imagen-4.jpg" alt="">
      <h2>SOMATOTIPOLOGÍA</h2> 
      <p>$ 20.000</p>
    </div>

    <div class="space-ant-1 col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
  </div><!--fin container-->
</div>

<div class="container grid">
  <div class="space-ant-1 col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
    <div class="antopo-pa-1">
        <p>PAQUETE<br><br><span class="span-gray">COMPLETO</span><br><br><span class="h1-orange">$ 55.000</span></p>
    </div>

    <div class="antopo-pa-2">
        <p>PAQUETE<br><br><span class="span-gray">X2 SERVICIOS</span><br><br><span class="h1-orange">$ 35.000</span></p>
    </div>

    <div class="antopo-pa-3">
        <p>PAQUETE<br><br><span class="span-gray">X3 SERVICIOS</span><br><br><span class="h1-orange">$ 45.000</span></p>
    </div>

    <div class="space-ase col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
  </div>
</div>
 