---
layout: layouts/full-normal.njk
title: Asesorias
eleventyNavigation:
  key: asesorias
  title: Asesorias
  order: 1
---

<div class="">
  <div class="asesorias">
    <div class="container grid">
      <h1 class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4">SERVICIO <span class="h1-orange">DE</span> ASESORÍAS</h1>  
      
      <div class="asesoria-1">
        <i class="fa fa-check"></i>
        <span class="ase-title">ANAMENESIS</span>    
        <div class="ase-text">Proceso de la exploración física que se ejecuta mediante el interrogatorio para identificar, obtener una retrospectiva, determinar elementos familiares ambientales y personales relevante.</div>
        <p class="price-1">$ 17.000</p>
      </div>
      
      <div class="asesoria-2">
        <i class="fa fa-check"></i>
        <span class="ase-title">CARACTERIZACIÓN</span> 
        <div class="ase-text">Género, clasificación de la época de su vida, incide de masa corporal, antecedentes limitantes , leves y severos, hábitos de vida, huella deportiva, clasificación, tríage, tipo de programa.</div>
        <p class="price-1">$ 17.000</p>
      </div>
      
      <div class="asesoria-3">
        <i class="fa fa-check"></i>
        <span class="ase-title">CPAF</span>        
        <div class="ase-text">Cuestionario de pre-participación en actividades físicas: Edad, índice de masa corporal, patologías cardiacas, problemas osteomuscurales, tabaquismo, alcohol, alimentación, suplementación, ergogénicos, medicamentos, ejercicio físico, tiempo de ejercicio, barreras ejercicio.</div>
        <p class="price-1">$ 17.000</p>
      </div>       
      

      <div class="asesorias-text-2">
        <img src="/assets/images/foto-2.webp" alt=""> 
        <p>Paquete Completo: $ 40.000</p>
        <p>Paquete X2 servicios: $ 25.000</p>
      </div>
      <div class="space-ase col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div> 
    </div>
  </div>
</div>