---
layout: layouts/full-normal-black.njk
title: Gracias
---

<div class="thanks">
    <div class="container-contact">
      <div class="container grid">
        <div class="contact-thank">
          <h1 class="font-2">Gracias!!</h1>

          <p>
            Muchas gracias por tu mensaje, te responderé en cuanto pueda.
          </p>

          <p>
            Un saludo,<br>
            Equipo <span class="h1-orange">M</span>ERAKI.
          </p>
        </div>

        <!--
        <div class="col-7 col-md-6 col-sm-5 col-xs-6">
          <p>
            Muchas gracias por tu mensaje, te responderé en cuanto pueda.
          </p>

          <p>
            Un saludo,<br>
            Equipo MERAKI.
          </p>
        </div>
        -->
      </div>
    </div>
</div>