---
layout: layouts/full-normal-line.njk
title: Entrenemos Todos
eleventyNavigation:
  key: entrenemos
  title: Entrenemos
  order: 6
---

<div class="entre-white">
  <div class="container grid">    
    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 entre-h1">
      <h1>ENTRENEMOS <span class="h1-green">TODOS</span></h1>
    </div>

    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 entre-title-h2">
      <h2>EL RETOÑO</h2>
    </div>

    <div class="entre-line-1"></div>

    <div class="retono">
      <span class="reto-title">DIRIGIDO A:</span>
      <span>&nbsp;&nbsp;Hombres y mujeres entre 60 - 75 años, con baja actividad física, patologías osteomusculares y metabólicas que busquen autonomía y disminución de factores de riesgo en salud.</span>
      <br>
      <br>
      <span class="reto-title">OBJETIVO:</span>
      <span>&nbsp;&nbsp;Controlar y prevenir algunas enfermedades como la artritis, las enfermedades cardíacas, los accidentes cerebrovasculares, la diabetes tipo 2, la osteoporosis.</span>
      <br>
      <br>
      <span class="reto-title">BENEFICIOS:</span>
      <span>
        <ul>
          <li>Mejorar su estado de ánimo y reducir los sentimientos de depresión.</li>
          <li>Conservar y mejorar su fuerza para que pueda mantenerse independiente.</li>
          <li>Tener más energía para hacer las cosas que quiere hacer y reducir la fatiga.</li>
          <li>Mejorar su equilibrio y reducir el riesgo de tener caídas y lesiones relacionadas.</li>
          <li>Reducir los niveles de estrés y ansiedad.</li>
          <li>Controlar su presión arterial.</li>
          <li>Posiblemente mejorar o mantener algunos aspectos de la función cognitiva, como su capacidad para cambiar rápidamente entre tareas o planificar una actividad.</li>
        </ul>
      </span>
      <span class="reto-title">LUGAR:</span>
      <span>&nbsp;&nbsp;Parque Villa Mayor la Antigua (Frente al CAI Villa Mayor)</span>
      <br>
      <br>
      <span class="reto-title">QUORUM:</span><span>&nbsp;&nbsp;15 Personas</span>
      <span class="reto-title">&nbsp;&nbsp;&nbsp;&nbsp;VALOR:</span><span>&nbsp;&nbsp;$10.000 por clase</span>
      <span class="reto-title">&nbsp;&nbsp;&nbsp;&nbsp;DURACIÓN:</span><span>&nbsp;&nbsp;3 meses</span>
      <br>
      <br>
      <span class="reto-title">HORARIOS:</span>
      <span>
        <ul>
          <li>Lunes - Miércoles - Viernes.</li>
          <li>De 6:00 am a 7:00 am</li>
          <li>Segundo horario a partir de 8:00 am a 9:00 am</li>
        </ul>
      </span>
    </div>

    <div class="retono-img">
      <img src="/assets/images/foto-9.jpg" alt="">
    </div>
  </div>
  <div class="space-white col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
</div>




<div class="entre-color-black">
  <div class="container grid">
    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 black-title-h2">
      <h2>PORCIÓN EXTRA</h2>
    </div>

    <div class="retono">
      <span class="reto-title">DIRIGIDO A:</span>
      <span>&nbsp;&nbsp;Hombres y mujeres entre 20- 40 años con problemas de sobre peso, obesidad tipo 1 y patología proinflamatoria crónica debajo grado asociada a otro grupo de enfermedades cardio metabólicas.</span>
      <br>
      <br>
      <span class="reto-title">OBJETIVO:</span>
      <span>&nbsp;&nbsp;Disminuir los factores de riesgo en salud asociados al sobre peso (hipertensión arterial), colesterol alto, dolor articular, fatiga crónica, hipo apnea obstructiva del sueño.</span>
      <br>
      <br>
      <span class="reto-title">BENEFICIOS:</span>
      <span>
        <ul>
          <li>Mejora tu autoestima</li>
          <li>Mejora de la respuesta cardiaca (VO2 Máximo)</li>
          <li>Reduce de los niveles de colesterol en sangre</li>
          <li>Reducción de los pliegues cutáneos bajando hasta 10 cm en zona media</li>
          <li>Disminuye hasta 15 kg</li>
          <li>Aumenta la motivación y la adherencia al nuevo estilo alimentario</li>
          <li>Mayor vitalidad y energía</li>
          <li>Disminuye el estrés y mejora el estado de animo</li>
        </ul>
      </span>
      <span class="reto-title">LUGAR:</span>
      <span>&nbsp;&nbsp;Plaza de eventos Parque Simón Bolívar</span>
      <br>
      <br>
      <span class="reto-title">QUORUM:</span><span>&nbsp;&nbsp;15 – 20 Personas</span>
      <span class="reto-title">&nbsp;&nbsp;&nbsp;&nbsp;VALOR:</span><span>&nbsp;&nbsp;$12.000 por clase</span>
      <span class="reto-title">&nbsp;&nbsp;&nbsp;&nbsp;DURACIÓN:</span><span>&nbsp;&nbsp;5 meses</span>
      <br>
      <br>
      <span class="reto-title">HORARIOS:</span>
      <span>
        <ul>
          <li>Jueves - Sábado – Domingo</li>
          <li>De 7:00 am a 8:00 am</li>
          <li>Segunda jornada a partir de 9:00 am a 10:00</li>
        </ul>
      </span>
    </div>

    <div class="retono-img">
      <img src="/assets/images/foto-10.png" alt="">
    </div>
    
  </div>
  <div class="space-white col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
</div>




<div class="entre-white">
  <div class="container grid">
    <div class="space-white col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>

    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 entre-title-h2">
      <h2>EN DECIDÍA</h2>
    </div>

    <div class="entre-line-1"></div>

    <div class="retono">
      <span class="reto-title">DIRIGIDO A:</span>
      <span>&nbsp;&nbsp;Hombres y mujeres entre  15- 50 años sedentarias, con problemas de diabetes, insuficiencias respiratorias, y patologías de hipertensión con variaciones sistólicas elevadas entre 130 a 139 mm Hg y la diastólica de 80 a 89 mm Hg.</span>
      <br>
      <br>
      <span class="reto-title">OBJETIVO:</span>
      <span>&nbsp;&nbsp;Controlar los niveles de azúcar en sangre, reduce el sobrepeso y mejora la calidad de vida, reduce el riesgo de sufrir un infarto o un accidente vascular cerebral, ayuda a controlar la falta de aliento durante una enfermedad respiratoria causada por COVID-19,  reduce las probabilidades de que se presenten otras afecciones que pueden suponer una sobrecarga para el corazón.</span>
      <br>
      <br>
      <span class="reto-title">BENEFICIOS:</span>
      <span>
        <ul>
          <li>Potenciar su condición física a mejorar su función cerebral.</li>
          <li>Mejora su condición cardiovascular.</li>
          <li>Promueve el equilibrio de energía y el control de peso.</li>
          <li>Mantener nuestro sistema inmune en las mejores condiciones.</li>
          <li>Regular mejora el estado funcional y la calidad de vida.</li>
          <li>Estimula el proceso de curación.</li>
        </ul>
      </span>
      <span class="reto-title">LUGAR:</span>
      <span>&nbsp;&nbsp;Plazoleta Parque Tunal</span>
      <br>
      <br>
      <span class="reto-title">QUORUM:</span><span>&nbsp;&nbsp;15 – 20 Personas</span>
      <span class="reto-title">&nbsp;&nbsp;&nbsp;&nbsp;VALOR:</span><span>&nbsp;&nbsp;$10.000 por clase</span>
      <span class="reto-title">&nbsp;&nbsp;&nbsp;&nbsp;DURACIÓN:</span><span>&nbsp;&nbsp;6 meses</span>
      <br>
      <br>
      <span class="reto-title">HORARIOS:</span>
      <span>
        <ul>
          <li>Viernes - Sabado - Domingo</li>
          <li>De 1:00 pm a 2:00 pm</li>
          <li>Segunda jornada a partir de 3:00 pm a 4:00 pm</li>
        </ul>
      </span>
    </div>

    <div class="retono-img">
      <img src="/assets/images/foto-11.jpg" alt="">
    </div>
  </div>

  <div class="space-white col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
</div>



<div class="entre-color-black">
  <div class="container grid">
    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 black-title-h2">
      <h2>IMPACTO</h2>
    </div>

    <div class="retono">
      <span class="reto-title">DIRIGIDO A:</span>
      <span>&nbsp;&nbsp;Hombres y mujeres entre 15- 80 años que presenten síntomas de lumbalgia, síndrome cruzado anterior, dorsalgia, cifosis, lordosis, escoliosis, dolores frecuentes al adoptar posturas inadecuadas al trabajar, estudiar e incluso al dormir.</span>
      <br>
      <br>
      <span class="reto-title">OBJETIVO:</span>
      <span>&nbsp;&nbsp;Mejora del rango de movimiento (ROM) y funcionalidad articular, a fin de evitar la perdida de la amplitud del movimiento y la disminución de la habilidad de las personas para realizar las tareas cotidianas como consecuencia de la edad y la mejora del estado global de la salud física, como herramienta útil para el tratamiento y recuperación de lesiones.</span>
      <br>
      <br>
      <span class="reto-title">BENEFICIOS:</span>
      <span>
        <ul>
          <li>Reduce el desgaste anormal de las superficies articulares que podrían llegar a crearnos artritis degenerativa y dolor articular.</li>
          <li>Reduce la tensión en los ligamentos que mantienen unidas las articulaciones espinales, minimizando la posibilidad de lesiones.</li>
          <li>Permite que los músculos trabajen más eficientemente, permitiendo que el cuerpo use menos energía y, por lo tanto, prevenir la fatiga muscular.</li>
          <li>Mantener el equilibrio en ambos lados de la columna vertebral y así sentir menos pesado un lado del cuerpo.</li>
          <li>Menos estrés, más confianza.</li>
          <li>Reduce el riesgo de caídas y fracturas</li>
          <li>Mayor movilidad y facilidad en tener un peso adecuado a nuestra masa corporal.</li>
          <li>Más energía, menos dolor.</li>
        </ul>
      </span>
      <span class="reto-title">LUGAR:</span>
      <span>&nbsp;&nbsp;Parque Pablo VI</span>
      <br>
      <br>
      <span class="reto-title">QUORUM:</span><span>&nbsp;&nbsp;15 – 20 Personas</span>
      <span class="reto-title">&nbsp;&nbsp;&nbsp;&nbsp;VALOR:</span><span>&nbsp;&nbsp;$9.000 por clase</span>
      <span class="reto-title">&nbsp;&nbsp;&nbsp;&nbsp;DURACIÓN:</span><span>&nbsp;&nbsp;4 meses</span>
      <br>
      <br>
      <span class="reto-title">HORARIOS:</span>
      <span>
        <ul>
          <li>Miércoles - Viernes</li>
          <li>De 12:00 pm a 1:00 pm</li>
          <li>Segunda jornada a partir de 7:00 pm a 8:00 pm</li>
        </ul>
      </span>
    </div>

    <div class="retono-img">
      <img src="/assets/images/foto-12.jpg" alt="">
      <p class="retono-img-descr">TOMA CONCIENCIA DE TU POSTURA.</p>
    </div>
    
  </div>
  <div class="space-white col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
</div>


<!--

-->

<!--

-->