---
layout: layouts/full-normal.njk
title: Inicio
---
<div class="inicio">
  <div class="space-index-video"></div>
  
  <div class="showcase">
    <div class="video-container">
      <video src="/assets/videos/video.mp4" autoplay muted loop>
    </div>
  </div>

  <div class="container grid">
    <div class="inicio-imagen">
      <img src="/assets/images/meraki-logo-black-green.png" alt="" class="logo-meraki-black">
      <img src="/assets/images/foto-1.jpg" alt="">
    </div>

    
      <div class="inicio-text-1">
        <h2>MISIÓN</h2>    
        <p>Fortalecer la cultura deportiva mediante los pasos actuales de la ciencia fitness, entregando alta calidad en la programación del entrenamiento para el ejercicio, siendo accesible para motivar y prevenir lesiones, síntomas de acuerdo a las condiciones físicas.</p>
      </div>

      <div class="inicio-text-2">
        <h2>VISIÓN</h2>
        <p>Trasmitir a nivel global un conjunto de técnicas encaminadas a mejorar, preservar la función y el rendimiento fitness. Incorporando nuevas habilidades físicas desde un nivel moderado a vigoroso, que tenga un proceso sistemático y organizado en el tiempo, con la finalidad de prepararse para las metas propuesta.</p>
      </div>

      <div class="inicio-text-3">
        <h2>¿QUIÉNES SOMOS?</h2>      
        <p>Palabra griega que significa, hacer algo con amor y creatividad, poniendo el alma en ello. La esencia de ti mismo reflejada en lo que haces.</p>
      </div>  
    
  </div>
   <div class="space-inicio col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
</div>