---
layout: layouts/full-normal-black.njk
title: Personalizado
eleventyNavigation:
  key: personalizado
  title: Personalizado
  order: 7
---

<div class="pers-white">
  <div class="container grid">
    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 perso-title">
      <h1>SERVICIO PERSONALIZADO <span class="h1-green">ATENAS</span></h1>
    </div>

    <div class="per-1">
      <div class="per-title">
        <img src="/assets/images/imagen-8.png" alt="">
        <h2>GIMNASIO</h2>
      </div>

      <div class="per-ul">
        <ul>
          <li>Asesoría personalizada</li>
          <li>Evaluación de rendimiento físico</li>
          <li>Servicio de Antropometria</li>
          <li>Programación del entrenamiento para el ejercicio</li>
        </ul>
      </div>


      <div class="price-pack-1">
        <div class="price-pack-black">
          <span class="span-white">Paquete para 3 Sesiones x Semana</span><br>
          <span class="span-green">12 Sesiones Mensuales</span>
        </div>
        <div class="price-money-white">
          <span>$ 380.000</span>
        </div>
      </div>

      <div class="price-pack-2">
        <div class="price-pack-black">
          <span class="span-white">Paquete para 4 Sesiones x Semana</span><br>
          <span class="span-green">16 Sesiones Mensuales</span>
        </div>

        <div class="price-money-white">
          <span>$ 420.000</span>
        </div>
      </div>

      <div class="price-pack-3">
        <div class="price-pack-black">
          <span class="span-white">Paquetes para 5 Sesiones x Semana</span><br>
          <span class="span-green">20 Sesiones Mensuales</span>
        </div>
        
        <div class="price-money-white">
          <span>$ 500.000</span>
        </div>
      </div>

      <div class="space-perso-1"></div>
    </div>

    <div class="per-2">
      <div class="per-title">
        <img src="/assets/images/imagen-9.jpg" alt="">
        <h2>CASA</h2>
      </div>

      <div class="per-ul">
        <ul>
          <li>Asesoría personalizada</li>
          <li>Evaluación de rendimiento físico</li>
          <li>Servicio de Antropometria</li>
          <li>Programación del entrenamiento para el ejercicio</li>
          <li>Estructura alimenticia</li>
          <li>Equipo de entrenamiento básico</li>
        </ul>
      </div>



      <div class="price-pack-1">
        <div class="price-pack-black">
          <span class="span-black">Paquete para 3 Sesiones x Semana</span><br>
          <span class="span-green">12 Sesiones Mensuales</span>
        </div>

        <div class="price-money-white">
          <span>$ 330.000</span>
        </div>
      </div>

      <div class="price-pack-2">
        <div class="price-pack-black">
          <span class="span-black">Paquete para 4 Sesiones x Semana</span><br>
          <span class="span-green">16 Sesiones Mensuales</span>
        </div>

        <div class="price-money-white">
          <span>$ 370.000</span>
        </div>
      </div>

      <div class="price-pack-3">
        <div class="price-pack-black">
          <span class="span-black">Paquetes para 5 Sesiones x Semana</span><br>
          <span class="span-green">20 Sesiones Mensuales</span>
        </div>

        <div class="price-money-white">
          <span>$ 450.000</span>
        </div>
      </div>

      <div class="space-perso-2"></div>
    </div>

    <div class="per-3">
      <div class="per-title">       
        <img src="/assets/images/imagen-10.jpg" alt="">
        <h2>CAMPO</h2>
      </div>

      <div class="per-ul">
        <ul>
          <li>Asesoría personalizada</li>
          <li>Evaluación de rendimiento físico</li>
          <li>Servicio de Antropometria</li>
          <li>Programación del entrenamiento para el ejercicio</li>
          <li>Estructura alimenticia</li>
          <li>Equipo de entrenamiento básico</li>
        </ul>
      </div>

      <div class="persona-space-1"></div>

      <div class="price-pack-3">
        <div class="price-pack-black">
          <span class="span-white">Paquete para 3 Sesiones x Semana</span><br>
          <span class="span-green">12 Sesiones Mensuales</span>
        </div>
        <div class="price-money-white">
          <span>$ 360.000</span>
        </div>
      </div>

      <div class="price-pack-3">
        <div class="price-pack-black">
          <span class="span-white">Paquete para 4 Sesiones x Semana</span><br>
          <span class="span-green">16 Sesiones Mensuales</span>
        </div>

        <div class="price-money-white">
          <span>$ 400.000</span>
        </div>
      </div>

      <div class="price-pack-3">
        <div class="price-pack-black">
          <span class="span-white">Paquetes para 5 Sesiones x Semana</span><br>
          <span class="span-green">20 Sesiones Mensuales</span>
        </div>

        <div class="price-money-white">
          <span>$ 400.000</span>
        </div>
      </div>

      <div class="space-perso-3"></div>
    </div>
    
    <div class="space-ant-1 col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
  </div>
</div>


<!--2-->

<div class="pers-black">
  <div class="container grid">

    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 perso-title-1">
      <h1>SERVICIO PERSONALIZADO <span class="h1-green">OLIMPO</span></h1>
    </div>

    <div class="per-1-1">
      <div class="per-title">       
        <img src="/assets/images/imagen-8.png" alt="">
        <h2>GIMNASIO</h2>
      </div>

      <div class="per-ul">
        <ul>
          <li>Asesoría personalizada</li>
          <li>Evaluación de rendimiento físico</li>
          <li>Servicio de Antropometria</li>
          <li>Programación del entrenamiento para el ejercicio</li>
          <li>Plan de alimentación</li>
         </ul> 
      </div>



      <div class="price-pack-1">
        <div class="price-pack-black">
          <span class="span-white">Paquete para 3 Sesiones x Semana</span><br>
          <span class="span-black">12 Sesiones Mensuales</span>
        </div>
        
        <div class="price-money-white">
          <span>$ 580.000</span>
        </div>
      </div>

      <div class="price-pack-1">
        <div class="price-pack-black">
          <span class="span-white">Paquete para 4 Sesiones x Semana</span><br>
          <span class="span-black">16 Sesiones Mensuales</span>
        </div>
        
        <div class="price-money-white">
          <span>$ 620.000</span>
        </div>
      </div>

      <div class="price-pack-1">
        <div class="price-pack-black">
          <span class="span-white">Paquetes para 5 Sesiones x Semana</span><br>
          <span class="span-black">20 Sesiones Mensuales</span>
        </div>
        
        <div class="price-money-white">
          <span>$ 700.000</span>
        </div>
      </div>
    </div>

    <div class="per-2-2">
      <div class="per-title">       
        <img src="/assets/images/imagen-9.jpg" alt="">
        <h2>CASA</h2>
      </div>

      <div class="per-ul">
        <ul>
          <li>Asesoría personalizada</li>
          <li>Evaluación de rendimiento físico</li>
          <li>Servicio de Antropometria</li>
          <li>Programación del entrenamiento para el ejercicio</li>
          <li>Plan de alimentación</li>
          <li>Equipo de entrenamiento básico</li>
        </ul>
      </div>



      <div class="price-pack-2">
        <div class="price-pack-black">
          <span class="span-black">Paquete para 3 Sesiones x Semana</span><br>
          <span class="span-green">12 Sesiones Mensuales</span>
        </div>
        
        <div class="price-money-white">
          <span>$ 530.000</span>
        </div>
      </div>

      <div class="price-pack-2">
        <div class="price-pack-black">
          <span class="span-black">Paquete para 4 Sesiones x Semana</span><br>
          <span class="span-green">16 Sesiones Mensuales</span>
        </div>
       
        <div class="price-money-white">
          <span>$ 570.000</span>
        </div>
      </div>

      <div class="price-pack-2">
        <div class="price-pack-black">
          <span class="span-black">Paquetes para 5 Sesiones x Semana</span><br>
          <span class="span-green">20 Sesiones Mensuales</span>
        </div>
        
        <div class="price-money-white">
          <span>$ 650.000</span>
        </div>
      </div>
    </div>

    <div class="per-3-3">
      <div class="per-title">       
        <img src="/assets/images/imagen-10.jpg" alt="">
        <h2>CAMPO</h2>
      </div>

      <div class="per-ul">
        <ul>
          <li>Asesoría personalizada</li>
          <li>Evaluación de rendimiento físico</li>
          <li>Servicio de Antropometria</li>
          <li>Programación del entrenamiento para el ejercicio</li>
          <li>Plan de alimentición</li>
          <li>Equipo de entrenamiento básico</li>
        </ul>
      </div>

      <div class="persona-space-1"></div>

      <div class="price-pack-3">
        <div class="price-pack-black">
          <span class="span-white">Paquete para 3 Sesiones x Semana</span><br>
          <span class="span-black">12 Sesiones Mensuales</span>
        </div>

        <div class="price-money-white">
          <span>$ 560.000</span>
        </div>
      </div>

      <div class="price-pack-3">
        <div class="price-pack-black">
          <span class="span-white">Paquete para 4 Sesiones x Semana</span><br>
          <span class="span-black">16 Sesiones Mensuales</span>
        </div>
      
        <div class="price-money-white">
          <span>$ 600.000</span>
        </div>
      </div>

      <div class="price-pack-3">
        <div class="price-pack-black">
          <span class="span-white">Paquetes para 5 Sesiones x Semana</span><br>
          <span class="span-black">20 Sesiones Mensuales</span>
        </div>
        
        <div class="price-money-white">
          <span>$ 680.000</span>
        </div>
      </div>

    </div>
    
    <div class="space-ant-1 col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
  </div>
</div>

<!--3-->
<div class="pers-white">
    <div class="container grid">

      <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 perso-title-1">
        <h1>SERVICIO PERSONALIZADO <span class="h1-green">GYM</span> PARTNER</h1>
      </div>

      <div class="partner-1">
        <h2>PARTNERS ATENAS</h2>
        <div class="partner-1-inline">

          <div class="parter-span-1">
            <span>GIMNASIO</span><br>
            <span class="parter-span-green">X2</span><br>
            <span>$ 700.000</span><br>
          </div>

          <div class="parter-span-2">
            <span>CASA</span><br>
            <span class="parter-span-green">X2</span><br>
            <span>$ 650.000</span><br>
          </div>

          <div class="parter-span-3">
            <span>CAMPO</span><br>
            <span class="parter-span-green">X2</span><br>
            <span>$ 680.000</span><br>
          </div>
        </div>
      </div>

      <div class="partner-2">
        <h2>PARTNERS OLIMPO</h2>
        
        <div class="partner-1-inline">
          <div class="parter-span-1">
            <span>GIMNASIO</span><br>
            <span class="parter-span-green">X2</span><br>
            <span>$ 900.000</span><br>
          </div>

          <div class="parter-span-2">
            <span>CASA</span><br>
            <span class="parter-span-green">X2</span><br>
            <span>$ 850.000</span><br>
          </div>

          <div class="parter-span-3">
            <span>CAMPO</span><br>
            <span class="parter-span-green">X2</span><br>
            <span>$ 880.000</span><br>
          </div>
        </div>
      </div>

      <div class="img-partner">
        <img src="/assets/images/foto-19.jpg" alt="">
      </div>
      
      <div class="space-ant-1 col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
    </div> 
</div>



<!--4-->
<div class="pers-white-1">
  
  <div class="container grid">

    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 perso-title-1">
      <h1>SERVICIO PERSONALIZADO <span class="h1-green">GYM</span> MERCENARIOS</h1>
    </div>
    
    <div class="partner-1">
        <h2>DIOSES ATENAS</h2>
        <div class="partner-1-inline">

          <div class="parter-span-1">
            <span>GIMNASIO</span><br>
            <span class="parter-span-green">X3</span><br>
            <span>$ 800.000</span><br>
          </div>

          <div class="parter-span-2">
            <span>CASA</span><br>
            <span class="parter-span-green">X3</span><br>
            <span>$ 750.000</span><br>
          </div>

          <div class="parter-span-3">
            <span>CAMPO</span><br>
            <span class="parter-span-green">X3</span><br>
            <span>$ 780.000</span><br>
          </div>
        </div>
      </div>

      <div class="partner-2">
        <h2>PARTNERS OLIMPO</h2>
        
        <div class="partner-1-inline">
          <div class="parter-span-1">
            <span>GIMNASIO</span><br>
            <span class="parter-span-green">X3</span><br>
            <span>$ 1.000.000</span><br>
          </div>

          <div class="parter-span-2">
            <span>CASA</span><br>
            <span class="parter-span-green">X3</span><br>
            <span>$ 900.000</span><br>
          </div>

          <div class="parter-span-3">
            <span>CAMPO</span><br>
            <span class="parter-span-green">X3</span><br>
            <span>$ 980.000</span><br>
          </div>
        </div>
      </div>

      <div class="img-partner">
        <img src="/assets/images/foto-20.jpg" alt="">
      </div>

    <div class="space-ant-1 col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
  
  </div> 
</div>


<!-- 5-->
<div class="testimo-con">
  <div class="container grid">


    <div class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 testimo-title">
      <h1>TESTIMONIOS</h1>
    </div>

    <div class="testimo-1">
      <div class="testimo-img">
        <img src="/assets/images/foto-13.jpg" alt="">
      </div>

      <div class="testimo-space col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>

      <div class="testimo-img">
        <img src="/assets/images/foto-14.jpg" alt="">
      </div>
    </div>

    <div class="testimo-2">
      <div class="testimo-img">
        <img src="/assets/images/foto-15.jpg" alt="">
      </div>

      <div class="testimo-space col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>

      <div class="testimo-img">
        <img src="/assets/images/foto-16.jpg" alt="">
      </div>
    </div>

    <div class="testimo-3">
      <div class="testimo-img">
        <img src="/assets/images/foto-17.jpg" alt="">
      </div>

      <div class="testimo-space col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>

      <div class="testimo-img">
        <img src="/assets/images/foto-18.jpg" alt="">
      </div>
    </div>

    <div class="space-ant-1 col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
  </div>
</div>



<!--

-->

