---
layout: layouts/full-normal-black.njk
title: Test
eleventyNavigation:
  key: test
  title: Test
  order: 5
---


  <div class="test">
    <div class="container grid">
      <h1 class="col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4 test-title">SERVICIO <span class="h1-green">TEST</span> CONDICIÓN MOTORA</h1>

      <div class="test-text-1">
        <img src="/assets/images/foto-4.jpg" alt="">
        <div class="test-text-text">          
          <h2>FUERZA</h2>
          <ul>
            <li>W5</li>
            <li>Carácter del esfuerzo</li>
            <li>Tipos de fibra</li>
            <li>Formulas 1 RM</li>
          </ul>
          <p>$ 20.000  INDIVIDUAL</p>
        </div>
      </div>

      <div class="test-text-2">
        <img src="/assets/images/foto-5.jpg" alt="">
        <div class="test-text-text">
          <h2>RESISTENCIA</h2>
          <ul>
            <li>Test de banda</li>
            <li>Test de banco</li>
            <li>Campo</li>
            <li>Población vulnerable</li>
          </ul>
          <p>$ 30.000  INDIVIDUAL</p>
        </div>
      </div>

      <div class="test-text-3">
        <img src="/assets/images/foto-6.jpg" alt="">
        <div class="test-text-text">
          <h2>COORDINATIVAS</h2>
          <ul>
            <li>FMS</li>
            <li>MC. GILL</li>
            <li>Equilibrio</li>
            <li>Velocidad</li>
          </ul>
          <p>$ 30.000 INDIVIDUAL</p>
        </div>
      </div>

      <div class="test-text-4">
        <img src="/assets/images/foto-7.jpg" alt="">
        <div class="test-text-text">
          <h2>ADM</h2>
          <ul>
            <li>Mares</li>
            <li>ROM</li>
            <li>FMS</li>
            <li>Disfunción musculo articular</li>
          </ul>
          <p>$ 30.000 INDIVIDUAL</p>
        </div>
      </div>

      <div class="space-ant-1 col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
    </div><!--fin container-->
  </div><!--fin test-->

  <div class="container grid">
      <div class="space-ant-1 col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
      
      <div class="test-price-1">  
        <p>PAQUETE COMPLETO <br><br><span class="span-gray">POR ÍTEMS</span> <br><br><span class="h1-orange">$ 75.000</span></p>
      </div>

      <div class="test-price-2">
        <p>PAQUETE <br><br><span class="span-gray">X2 ÍTEMS</span> <br><br><span class="h1-orange">$ 45.000</span></p>
      </div>

      <div class="test-price-3">
        <p>PAQUETE <br><br><span class="span-gray">X3 ÍTEMS</span> <br><br><span class="h1-orange">$ 65.000</span></p>
      </div>

      <div class="space-ase col-12 col-md-10 col-sm-8 col-xs-6 col-xxs-4"></div>
  </div>

